@font-face {
    font-family: 'Greycliffcf';
    src: url('Greycliffcf-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliffcf';
    src: url('Greycliffcf-demibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliffcf';
    src: url('Greycliffcf-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quincy';
    src: url('Quincy-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
